        body {
          font-family: 'Lato', sans-serif;
          margin: 0;
          padding: 0;
        }

        #map {
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
        }

        #ui {
          position: absolute;
          z-index: 1000;
          top: 16px;
          left: 16px;
          padding: 0px 24px 8px 20px;
          background: rgba(256, 256, 256, .9);
          color: #444;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
        }

        .title {
          margin-top: 16px;
          margin-bottom: 6px;
          font-size: 16px;

        }

        .species-name {
          margin-top: 0px;
          margin-bottom: 4px;
          font-size: 22px;
          font-weight: 400;
        }

        .latin-text {
          margin-top: 0px;
          margin-bottom: 36px;
          color: #c0c0c0;
          font-weight: 300;
          font-style: italic;
          font-size: 16px;
        }

        #ui ul {
          line-height: 1;
          margin-top: -10px;
          margin-left: 4px;
          list-style-type: none;
          padding: 0;
          font-weight: 400;
          font-size: 16px;
        }

        #ui li {
          margin-bottom: 6px;
        }

        #ui a {
          text-decoration: none;
        }

        #ui a:hover {
          font-weight: 700;
          text-decoration: underline;
        }

        .highlight {
          font-weight: 700;
          text-decoration: underline;
        }

        .marker-cluster-small {
          background-color: rgba(51, 122, 183, 0.4);
        }

        .marker-cluster-small div {
          background-color: rgba(51, 122, 183, 0.8);
        }

        .marker-cluster-medium {
          background-color: rgba(51, 122, 183, 0.4);
        }

        .marker-cluster-medium div {
          background-color: rgba(51, 122, 183, 0.8);
        }

        .marker-cluster-large {
          background-color: rgba(51, 122, 183, 0.4);
        }

        .marker-cluster-large div {
          background-color: rgba(51, 122, 183, 0.8);
        }

        .marker-cluster {
          background-clip: padding-box;
          border-radius: 20px;
        }

        .marker-cluster div {
          width: 30px;
          height: 30px;
          margin-left: 5px;
          margin-top: 5px;
          color: rgb(256, 256, 256);
          text-align: center;
          border-radius: 15px;
          font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .leaflet-tooltip {
          color: rgb(51, 122, 183);
          font-weight: bold;
        }